/essay/
/node_modules/
.gitignore
README.md

/_html-slicing-tasks/node_modules/
/_html-slicing-tasks/_tasks/*
!/_html-slicing-tasks/_tasks/default/

/_implementation-tasks/node_modules/

/_email-tasks/node_modules/
/_email-tasks/node_modules/_tasks/*
!/_email-tasks/node_modules/_tasks/default/