.b-popups {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.b-header,
.b-footer {
	flex-shrink: 0;
	height: 100px;
	display: block;
}

.b-main {
	flex: 1 0 auto;
}